<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="SportsConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SportDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="username_SportDatabaseConnectionString" connectionString="Data Source=MELISSA;Initial Catalog=username_SportDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PROG1198_SportDatabaseConnectionString" connectionString="Data Source=192.168.40.206;Initial Catalog=PROG1198_SportDatabase;User ID=PROG1198_Temp;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="devon_SportDatabaseConnectionString" connectionString="Data Source=LAPTOP-JACN25K0\DEVON;Initial Catalog=devon_SportDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="devon_SportDatabaseConnectionString2" connectionString="Data Source=LAPTOP-JACN25K0\DEVON;Initial Catalog=devon_SportDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
</configuration>
